
body{
    background-color: #3B5998;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .container1{
    margin-top: 20vh;
    margin-left: 2vh;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h1{
    margin-top: 10px;
    color: white;
  }
  
  p{
    color: white;
  }
  #btn{
   transition: 0.2s ease;
    color: white;
    width: 35%;
    height: 40px;
    border-radius: 4px;
    background-color: #1877F2;
   margin-left: 15px;
 
   font-size: medium;
   border: none;

  }
  #btn:hover{
 background-color:#1659C7;
  }
  #im1{
    width: 150px;
    height: 150px;
    
  }